.footer-container {
    width: 100%;
    background: #3D3D3D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-container .footer-copyright {
    width: 100%;
    height: 40px;
    background: #252525;
    font-size: 14px;
    font-family: PingFang;
    font-weight: 500;
    color: #ABABAB;
    line-height: 40px;
    text-align: center;
}

.footer-container .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 80px 0;

}

.footer-container .footer-content .footer-logo-content {}

.footer-container .footer-content .footer-logo-content .footer-logo {
    height: 57px;
    width: 225px;
    background: url(../imgs/footer/logo.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;
}

.footer-container .footer-content .footer-logo-content .footer-company {
    font-size: 24px;
    font-family: PingFang;
    font-weight: 500;
    color: #FFFFFF;

}

.footer-container .footer-content .footer-logo-content .footer-address {
    font-size: 16px;
    font-family: PingFang;
    color: #FFFFFF;
}

.footer-container .footer-content .footer-menu-content {}

.footer-container .footer-content .footer-menu-content .footer-menu-title {
    font-size: 24px;
    font-family: PingFang;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 8px;
    margin-bottom: 10px;
}

.footer-container .footer-content .footer-menu-content .footer-menu-item {
    font-size: 16px;
    font-family: PingFang;
    color: #CBCBCB;
    line-height: 28px;
}

.footer-container .footer-content .footer-menu-content .hover-item {
    cursor: pointer;
}

.footer-container .footer-content .footer-menu-content .footer-menu-img {
    height: 104px;
    width: 104px;
    background: url(../imgs/footer/公众号.png) no-repeat;
    background-size: 100% 100%;
}