.content {
    width: 100%;
    overflow-x: hidden;
}

#carouselExampleIndicators {
    width: 100%;
    height: 32rem;
}

.sm-banner-content {
    background: url(../imgs/home/小banner.png) 50%;
    height: 12rem;
}

.sm-banner-btn {
    margin-top: 2rem;
}

.inner-box {
    height: 100%;
}

.inner-item {
    width: 100%;
    height: 100%;
}

.inner-item:nth-of-type(1) {
    background: url(../imgs/home/banner背景.png) 50%;
}

.inner-item:nth-of-type(2) {
    background: url(../imgs/home/banner背景.png) 50%;
}

.inner-item:nth-of-type(3) {
    background: url(../imgs/home/banner背景.png) 50%;
}

.inner-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.inner-item-container .inner-item-img {
    display: block;
    width: 25rem;
    margin-bottom: 3rem;
}

.inner-item-container .inner-text {
    width: 35rem;
    height: 2.75rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.15rem;
    font-size: 1.4rem;
    font-family: PingFang;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 2.75rem;
    text-align: center;
    margin-bottom: 3.75rem;
    ;
}

.inner-item-container .inner-btn {
    width: 10rem;
    height: 2.8rem;
    background: #FFFFFF;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    ;
    font-family: PingFang;
    font-weight: 500;
    color: #006AB2;
    text-align: center;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.inner-item-container .inner-btn img {
    display: block;
    margin-left: 0.75rem;
    width: 1.6rem;
    height: 1.6rem;
}

.carousel-indicators .carousel-li {
    width: 0.6rem;
    height: 0.6rem;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 0.3rem;
    border: none;

}

.carousel-indicators .active {
    width: 3.2rem;
    height: 0.6rem;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 0.3rem;
    border: none;
}

.pattern-box {
    width: 100%;
    height: 15rem;
    padding-top: 5rem;
    margin-top: 3rem;
    background: url(../imgs/home/标题装饰.png) no-repeat;
    background-size: 30rem;
    background-position: center;
}

.pattern-box .pattern-text {
    margin-top: 2.15rem;
    font-size: 0.8rem;
    padding: 0 6rem;
    font-family: PingFang;
    font-weight: 500;
    color: #313131;
    text-align: center;
}

.pattern-box .pattern-text span {
    color: #006AB2;
}

.structure-box {
    height: 30rem;
    width: 100%;
    margin: 2rem 0 5rem 0;
    display: flex;
    align-items: center;
}

.structure-box .left-one {
    width: 5.5rem;
    height: 24.25rem;
    background: url(../imgs/home/框.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.structure-box .left-one li {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #006AB2;
    text-align: center;
}

.structure-box .left-two {
    width: 6rem;
    height: 24.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.structure-box .left-two img {
    display: block;
    width: 3rem;
    height: 1.6rem;
    margin-left: 0.5rem;
}

.structure-box .left-two div {
    font-size: 0.9rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #535353;
}

.structure-box .left-three {
    height: 30rem;
    width: 100%;
    background: url(../imgs/home/首页首屏背景.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
}

.structure-box .left-three .right-one {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.structure-box .left-three .right-one .right-one-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.structure-box .left-three .right-one .right-one-item img {
    display: block;
    width: 4.75rem;
    height: 5.5rem;
    margin-bottom: 0.5rem
}

.structure-box .left-three .right-one .right-one-item span {
    font-size: 0.9rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #006AB2;
}

.structure-box .left-three .right-one .right-one-add-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}

.structure-box .left-three .right-two,
.structure-box .left-three .right-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.structure-box .left-three .right-two img,
.structure-box .left-three .right-four img {
    display: block;
    width: 6.5rem;
    height: 1.6rem;
}

.structure-box .left-three .right-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.structure-box .left-three .right-three .right-three-title {
    font-size: 0.9rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #313131;
}

.structure-box .left-three .right-three .right-three-img {
    display: block;
    width: 4.5rem;
    height: 5.25rem;
    margin-top: 1rem;
}

.structure-box .left-three .right-three .right-three-img-title {
    display: flex;
    width: 7rem;
    height: 1.15rem;
    margin: 1rem 0 0.5rem 0;
}

.structure-box .left-three .right-three .right-three-text {
    font-size: 0.8rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #535353;
    margin-top: 0.5rem;
}

.structure-box .left-three .right-five {
    width: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.structure-box .left-three .right-five .right-five-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.structure-box .left-three .right-five .right-five-item img {
    display: block;
    width: 3.5rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.structure-box .left-three .right-five .right-five-item span {
    font-size: 0.7rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #006AB2;
}

.advantage-box {
    padding: 2.5rem 0;
    width: 100%;
}

.advantage-box .advantage-card-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.advantage-box .advantage-card-box .advantage-card {
    width: 18rem;
    height: 28rem;
    background: #FFFFFF;
    box-shadow: 0px 0.15rem 0.8rem 0px rgba(49, 170, 255, 0.3);
    border-radius: 0.5rem;
    margin-right: 2.4rem;
    transition: all .5s;
    position: relative;
}

.advantage-box .advantage-card-box .advantage-card:last-of-type {
    margin-right: 0;
}

.advantage-box .advantage-card-box .advantage-card:hover {
    transform: translateY(-1.3rem);
    /* transform: scale(1.1); */
    /* width: 380px; */
}

.advantage-box .advantage-card-box .advantage-card .advantage-card-title {
    height: 1.3rem;
    font-size: 1.2rem;
    font-family: PingFang;
    font-weight: 800;
    color: #313131;
    line-height: 1.3rem;
    margin-top: 2.3rem;
    text-align: center;
}

.advantage-box .advantage-card-box .advantage-card img {
    display: flex;
    width: 5.3rem;
    height: 3.5rem;
    margin: 2.5rem 0 2rem 0;
    margin-left: calc(50% - 2.65rem);
}

.advantage-box .advantage-card-box .advantage-card .advantage-card-text {
    width: 100%;
    display: flex;
    font-size: 0.9rem;
    font-family: PingFang;
    font-weight: 500;
    color: #787878;
    padding: 0 2rem;
}

.advantage-box .advantage-card-box .advantage-card .advantage-card-text i {
    flex: none;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: #16D8D8;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-top: 0.45rem;
}

.advantage-box .advantage-card-box .advantage-card .advantage-card-btn {
    width: 7.2rem;
    height: 2rem;
    background: #FFFFFF;
    border: 1px solid #006AB2;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-family: PingFang;
    font-weight: 500;
    color: #006AB2;
    position: absolute;
    bottom: 1.6rem;
    left: calc(50% - 3.6rem);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.problems-box {
    padding: 2.5rem 0;
    width: 100%;
    margin-top: 5rem;
}

.problems-box .problems-card-box {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.problems-box .problems-card-box .problems-card-item {
    width: 18rem;
    height: 17.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.problems-box .problems-card-box .problems-card-item .problems-card-logo {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 0;
    left: calc(50% - 3.5rem);
    background: #FFFFFF;
    box-shadow: 0px 0.15rem 0.4rem 0px rgba(184, 184, 184, 0.4);
    border-radius: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-bg {
    width: 6.4rem;
    height: 6.4rem;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    background: #66A4D1;
    border-radius: 50%;
}

.problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-img,
.problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-img-active {
    display: block;
    width: 3rem;
    /* height: 66px; */
    position: static;
    z-index: 10;
}

.problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-img-active {
    display: none;
}

.problems-box .problems-card-box .problems-card-item .problems-card {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13.2rem;
    background: #FFFFFF;
    box-shadow: 0px 0.15rem 0.8rem 0px rgba(49, 170, 255, 0.3);
    border-radius: 0.5rem;
    z-index: 9;
    padding: 3.75rem 0.5rem 0;
}

.problems-box .problems-card-box .problems-card-item .problems-card .problems-card-title {
    font-size: 1.2rem;
    font-family: PingFang;
    font-weight: bold;
    color: #006AB2;
    text-align: center;
    margin-bottom: 1rem;
}

.problems-box .problems-card-box .problems-card-item:first-of-type .problems-card .problems-card-title {
    margin-bottom: 1.75rem;
}

.problems-box .problems-card-box .problems-card-item .problems-card .problems-card-text {
    font-size: 0.9rem;
    font-family: PingFang;
    font-weight: 500;
    color: #535353;
    text-align: center;
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card-img {
    display: none;
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card-img-active {
    display: block;
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card-bg {
    background: #FFFFFF;
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card {
    background: linear-gradient(-90deg, #006AB2, #16D8D8);
    box-shadow: 0px 0.15rem 0.8rem 0px rgba(49, 170, 255, 0.3);
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card .problems-card-title,
.problems-box .problems-card-box .problems-card-item:hover .problems-card .problems-card-text {
    color: #FFFFFF;
}

.problems-box .problems-card-box .problems-card-item:hover .problems-card-logo {
    box-shadow: 0px 0.15rem 0.4rem 0px rgba(184, 184, 184, 0.4);
}

.customer-box {
    width: 100%;
    margin: 5rem 0;
}

.customer-box .left-line,
.customer-box .left-right {
    width: 3rem;
}

.customer-box .customer-item-box {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customer-box .customer-item {
    width: 14rem;
    height: 5.6rem;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 0.2rem;
}

.research-box {
    width: 100%;
    margin: 5rem 0;
}

.research-box .left-line,
.research-box .left-right {
    width: 3rem;
}

.research-box .line-title .title {
    margin: 0 2.5rem;
    font-size: 1.8rem;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #313131;
}

.research-box .research-item-box {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.research-box .research-card {
    width: 18.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0.15rem 0.8rem 0px rgba(49, 170, 255, 0.3);
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 1rem;
}

.research-box .research-card .card-img-top {
    display: block;
    width: 100%;
}

.research-box .research-card h5 {
    font-size: 1rem;
    font-family: PingFang;
    font-weight: 500;
    color: #313131;
}

.research-box .research-card .card-text {
    font-size: 0.8rem;
    font-family: PingFang;
    font-weight: 500;
    color: #999999;
}

@media screen and (max-width: 499px) {
    #carouselExampleIndicators {
        height: 63.5rem;
    }

    .inner-item:nth-of-type(1) {
        background: url(../imgs/home/banner背景1.png) no-repeat;
        background-size: 100% 100%;
    }

    .inner-item:nth-of-type(2) {
        background: url(../imgs/home/banner背景1.png) no-repeat;
        background-size: 100% 100%;
    }

    .inner-item:nth-of-type(3) {
        background: url(../imgs/home/banner背景1.png) no-repeat;
        background-size: 100% 100%;
    }

    .inner-item-container {
        display: block;
        padding: 6rem 4rem;
    }

    .inner-item-container .inner-item-img {
        width: 30rem;
    }

    .inner-item-container .inner-text {
        width: 24.8rem;
        height: 5.1rem;
        background: none;
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        text-align: left;
        margin-bottom: 5.7rem;
        margin-top: 4.5rem;
    }

    .inner-item-container .inner-text .text-br {
        display: inline-block !important;
    }

    .inner-item-container .inner-btn {
        width: 13.3rem;
        height: 3.7rem;
        line-height: 3.7rem;
        font-size: 1.6rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #006AB2;
    }

    .inner-item-container .inner-btn img {
        width: 2rem;
        height: 2rem;
    }

    .pattern-box {
        background-size: 38rem;
        height: auto;
        background-position: top;
        background-position-y: 2rem;
        margin-top: 5rem;
    }

    .pattern-box .pattern-text {
        padding: 0 2rem;
        font-size: 1.8rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #313131;
        margin-top: 5rem;
    }

    .advantage-box .advantage-card-box .advantage-card {
        width: 32rem;
        height: 42.2rem;
        margin-right: 0;
        margin-bottom: 4rem;
    }

    .advantage-box .advantage-card-box {
        flex-wrap: wrap;
    }

    .advantage-box .advantage-card-box .advantage-card .advantage-card-title {
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: 800;
        color: #313131;
    }

    .advantage-box .advantage-card-box .advantage-card img {
        width: 8rem;
        height: 5.5rem;
        margin-left: calc(50% - 4rem);
    }

    .advantage-box .advantage-card-box .advantage-card .advantage-card-text i {
        width: 0.7rem;
        height: 0.7rem;
        margin-top: 0.85rem;
    }

    .advantage-box .advantage-card-box .advantage-card .advantage-card-text {
        font-size: 1.6rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #787878;
    }

    .advantage-box .advantage-card-box .advantage-card .advantage-card-btn {
        width: 13rem;
        height: 3.7rem;
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #006AB2;
        line-height: 3.7rem;
        left: calc(50% - 6.5rem);
    }

    .problems-box .problems-card-box {
        flex-wrap: nowrap;
        overflow-y: auto;
        padding: 0 0.5rem;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    .problems-box .problems-card-box::-webkit-scrollbar {
        width: 0 !important
    }

    .problems-box .problems-card-box .problems-card-item {
        flex: none;
        width: 31rem;
        height: 29.6rem;
        margin-right: 2rem;
    }

    .problems-box .problems-card-box .problems-card-item:last-of-type {
        margin-right: 0;
    }

    .problems-box .problems-card-box .problems-card-item .problems-card-logo {
        width: 12rem;
        height: 12rem;
        left: calc(50% - 6rem);
    }

    .problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-bg {
        width: 11rem;
        height: 11rem;
        top: 0.5rem;
        left: 0.5rem;
    }

    .problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-img,
    .problems-box .problems-card-box .problems-card-item .problems-card-logo .problems-card-img-active {
        width: 5rem;
    }

    .problems-box .problems-card-box .problems-card-item .problems-card {
        height: 22.4rem;
        padding: 6.2rem 1rem 0;

    }

    .problems-box .problems-card-box .problems-card-item .problems-card .problems-card-title {
        font-size: 2.1rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: #006AB2;
    }

    .problems-box .problems-card-box .problems-card-item .problems-card .problems-card-text {
        font-size: 1.6rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #535353;
    }

    .sm-banner-content {
        background: url(../imgs/home/小banner2.png) no-repeat;
        background-size: 100% 100%;
        height: 21.3rem;
    }

    .sm-banner-btn {
        margin-top: 3.7rem;
    }

    .research-box .research-card {
        width: 33.4rem !important;
        margin-bottom: 4rem;
    }

    .research-box .research-card .card-img-top {
        width: 100% !important;
    }

    .card-body {
        padding: 2.5rem 1.5rem;
    }

    .research-box .research-card h5 {
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #313131;
    }

    .research-box .research-card .card-text {
        font-size: 1.6rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #999999;
    }


    .structure-box {
        flex-direction: column-reverse;
        height: auto;
        padding: 0 1rem;
        margin: 5rem 0 10rem 0;
    }

    .structure-box .left-one {
        width: 100%;
        height: 3rem;
        background: url(../imgs/home/框1.png) no-repeat;
        background-size: 100% 100%;
    }

    .structure-box .left-one li {
        width: 25%;
        font-size: 1.6rem;
    }

    .structure-box .left-two img {
        display: none;
    }

    .structure-box .left-two {
        width: 100%;
        background: url(../imgs/home/箭头2.png) no-repeat;
        background-size: 60% 80%;
        background-position: center;
        height: 5rem;
    }

    .structure-box .left-two div {
        font-size: 1.6rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #535353;
    }

    .structure-box .left-three {
        background: url(../imgs/home/箭头1.png) no-repeat;
        background-size: calc(100% - 4.5rem) calc(100% - 20rem);
        background-position: center;
        flex-direction: column-reverse;
        height: auto;
    }

    .structure-box .left-three .right-one {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }

    .structure-box .left-three .right-two,
    .structure-box .left-three .right-four {
        display: none;
    }

    .structure-box .left-three .right-five {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: unset;
    }

    .structure-box .left-three .right-one .right-one-add-icon {
        width: 6.3rem;
        height: 7.3rem;
    }

    .structure-box .left-three .right-five .right-five-item span {
        display: inline-block !important;
        font-size: 1.4rem;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #006AB2;
        text-align: center;
    }

    .structure-box .left-three .right-five .right-five-item img {
        width: 4.6rem;
        height: 5.4rem;
    }

    .structure-box .left-three .right-one .right-one-add-icon {
        width: 3.4rem;
        height: 3.4rem;
    }

    .structure-box .left-three .right-one .right-one-item img {
        width: 6.3rem;
        height: 7.3rem;
    }

    .structure-box .left-three .right-one .right-one-item span {
        font-size: 1.6rem;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #006AB2;
    }

    .structure-box .left-three .right-three .right-three-text {
        display: none;
    }

    .structure-box .left-three .right-three .right-three-text2 {
        display: block !important;
        font-size: 1.4rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #9E9E9E;
    }

    .structure-box .left-three .right-three .right-three-title {
        font-size: 1.6rem;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #313131;
    }

    .structure-box .left-three .right-three .right-three-img {
        width: 10.4rem;
        height: 12.2rem;
    }

    .structure-box .left-three .right-three .right-three-img-title {
        width: 11.8rem;
        height: 1.9rem;
    }

    .structure-box .left-three .right-three {
        padding: 6rem 0 2rem 0;
    }

}
