* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

.my-container {
    width: 1200px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-box {
    height: 98px;
    width: 100%;
}

.footer-box {
    width: 100%;
}

@media screen and (max-width:1200px) {

    html,
    body {
        min-width: 1000px;
    }

    .my-container {
        width: 960px;
    }
    #carouselExampleIndicators{
        height: 540px !important;
    }
    .advantage-card:last-of-type {
        margin-right: 0 !important;
    }
    .inner-item-img{
        width: 380px !important;
    }
    .inner-text{
        font-size: 22px !important;
        width: 540px !important;
    }
    .inner-btn{
        width: 160px !important;
        height: 48px !important;
        font-size: 20px !important;
    }
    .advantage-card {
        margin-right: 28px !important;
    }

    .advantage-card-text {
        padding: 0 20px !important;
    }

    .problems-card-item {
        width: 310px !important;
        height: 320px !important;
    }

    .problems-card-text {
        font-size: 16px !important;
    }

    .problems-card-logo {
        width: 110px !important;
        height: 110px !important;
        top: 0 !important;
        left: calc(50% - 55px) !important;
    }

    .problems-card-bg {
        width: 98px !important;
        height: 98px !important;
    }

    .customer-item {
        width: 230px !important;
    }
}

.banner-content {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content-img {
    background-size: 100% 100%;
    height: 90px;
}

.banner-content-text {
    width: 550px;
    height: 45px;
    font-size: 20px;
    font-family: PingFang;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 45px;
    text-align: center;
    background: url(../imgs/矩形.png) no-repeat;
    background-size: 100% 100%;
}

.banner-btn {
    width: 200px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 20px;
    font-family: PingFang;
    font-weight: 500;
    color: #006AB2;
    line-height: 48px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.sm-banner-content-text {
    font-size: 36px;
    font-family: PingFang;
    font-weight: 800;
    color: #FFFFFF;
}

.sm-banner-content {
    height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sm-banner-btn {
    width: 200px;
    height: 56px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    font-size: 28px;
    font-family: PingFang;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 56px;
    text-align: center;
    margin-top: 95px;
    cursor: pointer;
}

.line-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-title .left-line {
    width: 100px;
    height: 2px;
    background: url(../imgs/标题装饰左.png) no-repeat;
    background-size: 100% 100%;
}

.line-title .right-line {
    width: 100px;
    height: 2px;
    background: url(../imgs/标题装饰右.png) no-repeat;
    background-size: 100% 100%;
}

.line-title .title {
    font-size: 36px;
    font-family: PingFang;
    font-weight: bold;
    color: #313131;
    margin: 0 10px;
}