.banner-content {
    height: 7.2rem;
    background: url(../imgs/contactUs/banner背景.png) no-repeat;
    background-size: 100%;
    background-position: top;
}

.banner-content-title {
    font-size: 1.5rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
}

.more-type-box {
    width: 100%;
    min-height: calc(100vh - 29.4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 0;
    box-sizing: border-box;
}

.more-type-box .report-type-box {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.more-type-box .report-type-box .type-card {
    width: 13.8rem;
    height: 16rem;
    background: #FFFFFF;
    box-shadow: 0px 0.15rem 0.8rem 0px rgba(49, 170, 255, 0.3);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.more-type-box .report-type-box .type-card .logo-box {
    display: block;
    width: 4rem;
    height: 4rem;
    /* background: #0083c569; */
    border-radius: 50%;
}

.more-type-box .report-type-box .type-card .type-text {
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #787878;
    text-align: center;
}

@media screen and (max-width: 499px) {
    .banner-content {
        height: 9.6rem;
        background: url(../imgs/more/内页banner.png) no-repeat;
        background-size: 100% 100%;
    }

    .banner-content-title {
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: bold;
        color: #FFFFFF;
    }

    .more-type-box {
        min-height: unset;
    }

    .more-type-box .report-type-box {
        margin-top: 4.3rem;
    }

    .more-type-box .report-type-box .type-card {
        flex: none;
        width: 26.6rem !important;
        height: 26.6rem;
        background: #FFFFFF;
        box-shadow: 0px 0.2rem 1.1rem 0px rgba(49, 170, 255, 0.3);
        border-radius: 0.7rem;
        margin-bottom: 4.3rem;
    }

    .more-type-box .report-type-box .type-card .logo-box {
        width: 7rem;
        height: 7rem;
    }

    .more-type-box .report-type-box .type-card .type-text {
        font-size: 1.9rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #787878;
    }
}